<%- include("header") %> 

<div style="margin: 0px; padding: 40px;">
<h3>Add Value added course</h1>
<br>
<br>
<form id="frm-add-category" name="frm-add-category" method="post" action="/createaddoncourse">
    <div class="row">
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Title of Add on Course</label>
                <input required type="text" class="form-control" placeholder="Enter title" name="coursetitle">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Course Code </label>
                <input required type="text" class="form-control" placeholder="Enter course code" name="coursecode">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Course Type</label>
                <select class="form-control" name="coursetype">
                    <option value="Programming">Programming</option>
                    <option value="Testing">Testing</option>
                    <option value="Skill Development">Skill Development</option>
                    <option value="Hobby Classes">Hobby Classes</option>
                    <option value="Language">Language</option>
                    

                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Course Category</label>
                <select class="form-control" name="category">
                    <option value="Free">Free</option>
                    <option value="Advanced">Advanced</option>
                    <option value="Masterclass">Masterclass</option>
                    <option value="Workshop">Workshop</option>
                    <option value="Meetup">Meetup</option>
                    

                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Year of Offering</label>
                <select class="form-control" name="year">
                    <option value="2015-16">2015-16</option>
                    <option value="2016-17">2016-17</option>
                    <option value="2017-18">2017-18</option>
                    <option value="2018-19">2018-19</option>
                    <option value="2019-20">2019-20</option>
                    <option value="2020-21">2020-21</option>
                    <option value="2021-22">2021-22</option>

                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>No.of times course offered</label>
                <input required type="text" class="form-control" placeholder="Enter no.of times course offered" name="offeredtimes">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Price (Enter 0 if free)</label>
                <input required type="number" class="form-control" placeholder="Enter the price" name="price">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Duration</label>
                <input required type="text" class="form-control" placeholder="Enter the duration" name="duration">
            </div>
        </div>
      
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>No.of students enrolled</label>
                <input required type="text" class="form-control" placeholder="Enter no.of students enrolled" name="studentsenrolled">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>No.of students completing the course</label>
                <input required type="text" class="form-control" placeholder="Enter no.of students completing course" name="studentscompleted">
            </div>
        </div>  
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Imagelink</label>
                <input required type="text" class="form-control" placeholder="Enter image link" name="imagelink">
            </div>
        </div>  
        
        
    </div>

    <button class="btn btn-dark" type="submit">Submit</button>
</form>
</div>
<%- include("footer") %> 