
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>LMS | Student Feedback Form on Department</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
<div class="login-box" style="width: 1000px; margin: 20px;">
  <div class="login-logo">
    <a href="javascript:void(0)"><b>Campus</b>Canvas</a>
    <br>
    Student's Feedback on Curriculum and Course
  </div>
  <br>
  Instructions: Please fill in all details. All questions are mandatory.
  <br><br>

  <% if(messages.success){ %>
    <div class="alert alert-success">
      <%= messages.success %>
    </div>  
  <% } %>

  <% if(messages.error){ %>
    <div class="alert alert-danger">
      <%= messages.error %>
    </div>  
  <% } %>

     

      


      <form id="frm-add-category" name="frm-add-category" method="post" action="/adddeptfeedback/<%= colid %>">
       
        <div class="row">
            <div class="col-sm-4">
                <!-- text input -->
                <div class="form-group">
                    <label>Name of Student</label>
                    <input required type="text" class="form-control" placeholder="Enter name" name="fsname">
                </div>
            </div>
            <div class="col-sm-4">
                <!-- text input -->
                <div class="form-group">
                    <label>Email</label>
                    <input required type="text" class="form-control" placeholder="Enter email" name="email">
                </div>
            </div>
            <div class="col-sm-4">
                <!-- text input -->
                <div class="form-group">
                    <label>Roll Number</label>
                    <input required type="text" class="form-control" placeholder="Enter roll no" name="regno">
                </div>
            </div>
            <div class="col-sm-4">
                <!-- text input -->
                <div class="form-group">
                    <label>Department/School</label>
                    <input required type="text" class="form-control" placeholder="Enter department/school name" name="department">
                </div>
            </div>
            <div class="col-sm-4">
                <!-- text input -->
                <div class="form-group">
                    <label>Year-Semester-Section (e.g.- 1st Year-2nd Semester-Section A)</label>
                    <input required type="text" class="form-control" placeholder="Enter year-semester-section" name="sem">
                </div>
            </div>
            <div class="col-sm-4">
                <!-- text input -->
                <div class="form-group">
                <label>Academic Year</label>
                <select class="form-control" name="year">
                    <option value="2015-16">2015-16</option>
                    <option value="2016-17">2016-17</option>
                    <option value="2017-18">2017-18</option>
                    <option value="2018-19">2018-19</option>
                    <option value="2019-20">2019-20</option>
                    <option value="2020-21">2020-21</option>
                    <option value="2021-22">2021-22</option>

                </select>
                </div>
            </div>
            <div class="col-sm-4">
                <!-- text input -->
                <div class="form-group">
                    <label>Program Level</label>
                    <select class="form-control" name="degree">
                        <option value="UG">UG</option>
                        <option value="PG">PG</option>
                        <option value="M.Phil">M.Phil</option>
                        
    
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <!-- text input -->
                <div class="form-group">
                    <label>Program Name (e.g - B.Sc in Physics)</label>
                    <input required type="text" class="form-control" placeholder="Enter program name" name="program">
                </div>
            </div>
            <div class="col-sm-4">
                <!-- text input -->
                <div class="form-group">
                    <label>Course Name </label>
                    <input required type="text" class="form-control" placeholder="Enter course name" name="course">
                </div>
            </div>
            
            
            
        </div>

         
        <h5 class="login-box-msg">A.Curriculum</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Sl. No.</th>
                    <th>Question</th>
                    <th>5</th>
                    <th>4</th>
                    <th>3</th>
                    <th>2</th>
                    <th>1</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>Quality and content of Course curriculum compared to other reputed universities/institutes.</td>
                    <td><input type="radio" id="1a" name="one" value="5" required></td>
                    <td><input type="radio" id="1b" name="one" value="4"></td>
                    <td><input type="radio" id="1c" name="one" value="3"></td>
                    <td><input type="radio" id="1d" name="one" value="2"></td>
                    <td><input type="radio" id="1e" name="one" value="1"></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Syllabus is need based and suitable to the course.</td>
                    <td><input type="radio" id="2a" name="two" value="5" required></td>
                    <td><input type="radio" id="2b" name="two" value="4"></td>
                    <td><input type="radio" id="2c" name="two" value="3"></td>
                    <td><input type="radio" id="2d" name="two" value="2"></td>
                    <td><input type="radio" id="2e" name="two" value="1"></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>The curriculum has well defined objectives.</td>
                    <td><input type="radio" id="3a" name="three" value="5" required></td>
                    <td><input type="radio" id="3b" name="three" value="4"></td>
                    <td><input type="radio" id="3c" name="three" value="3"></td>
                    <td><input type="radio" id="3d" name="three" value="2"></td>
                    <td><input type="radio" id="3e" name="three" value="1"></td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>The curriculum has components to address requirements of job.</td>
                    <td><input type="radio" id="4a" name="four" value="5" required></td>
                    <td><input type="radio" id="4b" name="four" value="4"></td>
                    <td><input type="radio" id="4c" name="four" value="3"></td>
                    <td><input type="radio" id="4d" name="four" value="2"></td>
                    <td><input type="radio" id="4e" name="four" value="1"></td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>The curriculum gives exposure to latest developments in the field.</td>
                    <td><input type="radio" id="5a" name="five" value="5" required></td>
                    <td><input type="radio" id="5b" name="five" value="4"></td>
                    <td><input type="radio" id="5c" name="five" value="3"></td>
                    <td><input type="radio" id="5d" name="five" value="2"></td>
                    <td><input type="radio" id="5e" name="five" value="1"></td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>The curriculum contains adequate course content and reference material.</td>
                    <td><input type="radio" id="6a" name="six" value="5" required></td>
                    <td><input type="radio" id="6b" name="six" value="4"></td>
                    <td><input type="radio" id="6c" name="six" value="3"></td>
                    <td><input type="radio" id="6d" name="six" value="2"></td>
                    <td><input type="radio" id="6e" name="six" value="1"></td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>The curriculum contains adequate balance between theory and practicals.</td>
                    <td><input type="radio" id="7a" name="seven" value="5" required></td>
                    <td><input type="radio" id="7b" name="seven" value="4"></td>
                    <td><input type="radio" id="7c" name="seven" value="3"></td>
                    <td><input type="radio" id="7d" name="seven" value="2"></td>
                    <td><input type="radio" id="7e" name="seven" value="1"></td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>The curriculum provides experential learning through student seminar,group discussion, projects, field visits.</td>
                    <td><input type="radio" id="8a" name="eight" value="5" required></td>
                    <td><input type="radio" id="8b" name="eight" value="4"></td>
                    <td><input type="radio" id="8c" name="eight" value="3"></td>
                    <td><input type="radio" id="8d" name="eight" value="2"></td>
                    <td><input type="radio" id="8e" name="eight" value="1"></td>
                </tr>
                
                <tr>
                    <td>9.</td>
                    <td>The curriculum contains sufficient elective papers</td>
                    <td><input type="radio" id="9a" name="nine" value="5" required></td>
                    <td><input type="radio" id="9b" name="nine" value="4"></td>
                    <td><input type="radio" id="9c" name="nine" value="3"></td>
                    <td><input type="radio" id="9d" name="nine" value="2"></td>
                    <td><input type="radio" id="9e" name="nine" value="1"></td>
                </tr>
                <tr>
                    <td>10.</td>
                    <td>The curriculum provides options for continuous assessment through quiz and exams</td>
                    <td><input type="radio" id="10a" name="ten" value="5" required></td>
                    <td><input type="radio" id="10b" name="ten" value="4"></td>
                    <td><input type="radio" id="10c" name="ten" value="3"></td>
                    <td><input type="radio" id="10d" name="ten" value="2"></td>
                    <td><input type="radio" id="10e" name="ten" value="1"></td>
                </tr>
                <tr>
                    <td>11.</td>
                    <td>The time provided to complete the curriculum is adequate.</td>
                    <td><input type="radio" id="11a" name="eleven" value="5" required></td>
                    <td><input type="radio" id="11b" name="eleven" value="4"></td>
                    <td><input type="radio" id="11c" name="eleven" value="3"></td>
                    <td><input type="radio" id="11d" name="eleven" value="2"></td>
                    <td><input type="radio" id="11e" name="eleven" value="1"></td>
                </tr>
                <tr>
                    <td>12.</td>
                    <td>The curriculum facilitates adequate self learning.</td>
                    <td><input type="radio" id="12a" name="twelve" value="5" required></td>
                    <td><input type="radio" id="12b" name="twelve" value="4"></td>
                    <td><input type="radio" id="12c" name="twelve" value="3"></td>
                    <td><input type="radio" id="12d" name="twelve" value="2"></td>
                    <td><input type="radio" id="12e" name="twelve" value="1"></td>
                </tr>
            </tbody>
            </table> 

            <br> 
<!-- 
        <h5 class="login-box-msg">B.Department</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Sl. No.</th>
                    <th>Question</th>
                    <th>5</th>
                    <th>4</th>
                    <th>3</th>
                    <th>2</th>
                    <th>1</th>
                </tr>
            </thead>
                <tbody>  
            <tr>
                <td>13.</td>
                <td>Willingness of teachers to resolve academic problems of students.</td>
                <td><input type="radio" id="13a" name="thirteen" value="5" required></td>
                <td><input type="radio" id="13b" name="thirteen" value="4"></td>
                <td><input type="radio" id="13c" name="thirteen" value="3"></td>
                <td><input type="radio" id="13d" name="thirteen" value="2"></td>
                <td><input type="radio" id="13e" name="thirteen" value="1"></td>
            </tr>
            <tr>
                <td>14.</td>
                <td>Providing information and helping students for higher education.</td>
                <td><input type="radio" id="14a" name="fourteen" value="5" required></td>
                <td><input type="radio" id="14b" name="fourteen" value="4"></td>
                <td><input type="radio" id="14c" name="fourteen" value="3"></td>
                <td><input type="radio" id="14d" name="fourteen" value="2"></td>
                <td><input type="radio" id="14e" name="fourteen" value="1"></td>
            </tr>
            <tr>
                <td>15.</td>
                <td>Career counselling by the department and its teachers.</td>
                <td><input type="radio" id="15a" name="fifteen" value="5" required></td>
                <td><input type="radio" id="15b" name="fifteen" value="4"></td>
                <td><input type="radio" id="16c" name="fifteen" value="3"></td>
                <td><input type="radio" id="16d" name="fifteen" value="2"></td>
                <td><input type="radio" id="16e" name="fifteen" value="1"></td>
            </tr>
            <tr>
                <td>16.</td>
                <td>General infrastructure of the department (like classrooms, laboratories, toilets).</td>
                <td><input type="radio" id="16a" name="sixteen" value="5" required></td>
                <td><input type="radio" id="16b" name="sixteen" value="4"></td>
                <td><input type="radio" id="16c" name="sixteen" value="3"></td>
                <td><input type="radio" id="16d" name="sixteen" value="2"></td>
                <td><input type="radio" id="16e" name="sixteen" value="1"></td>
            </tr>
            <tr>
                <td>17.</td>
                <td>Helpfulness of non-teaching staff in the department office, laboratories.</td>
                <td><input type="radio" id="17a" name="seventeen" value="5" required></td>
                <td><input type="radio" id="17b" name="seventeen" value="4"></td>
                <td><input type="radio" id="17c" name="seventeen" value="3"></td>
                <td><input type="radio" id="17d" name="seventeen" value="2"></td>
                <td><input type="radio" id="17e" name="seventeen" value="1"></td>
            </tr>
            <tr>
                <td>18.</td>
                <td>Access to books and other teaching materials in the Departmental Library.</td>
                <td><input type="radio" id="18a" name="eighteen" value="5" required></td>
                <td><input type="radio" id="18b" name="eighteen" value="4"></td>
                <td><input type="radio" id="18c" name="eighteen" value="3"></td>
                <td><input type="radio" id="18d" name="eighteen" value="2"></td>
                <td><input type="radio" id="18e" name="eighteen" value="1"></td>
            </tr>
            <tr>
                <td>19.</td>
                <td>Effectiveness of Student-Teacher committee.</td>
                <td><input type="radio" id="19a" name="nineteen" value="5" required></td>
                <td><input type="radio" id="19b" name="nineteen" value="4"></td>
                <td><input type="radio" id="19c" name="nineteen" value="3"></td>
                <td><input type="radio" id="19d" name="nineteen" value="2"></td>
                <td><input type="radio" id="19e" name="nineteen" value="1"></td>
            </tr>
            <tr>
                <td>20.</td>
                <td>Academic environment in the department.</td>
                <td><input type="radio" id="20a" name="twenty" value="5" required></td>
                <td><input type="radio" id="20b" name="twenty" value="4"></td>
                <td><input type="radio" id="20c" name="twenty" value="3"></td>
                <td><input type="radio" id="20d" name="twenty" value="2"></td>
                <td><input type="radio" id="20e" name="twenty" value="1"></td>
            </tr>
            <tr>
                <td>21.</td>
                <td>Overall learning experience in the department.</td>
                <td><input type="radio" id="21a" name="twentyone" value="5" required></td>
                <td><input type="radio" id="21b" name="twentyone" value="4"></td>
                <td><input type="radio" id="21c" name="twentyone" value="3"></td>
                <td><input type="radio" id="21d" name="twentyone" value="2"></td>
                <td><input type="radio" id="21e" name="twentyone" value="1"></td>
            </tr>
        </tbody>
    </table>   -->
        <br>
        
        <input type="hidden" value="<%= colid %>" name="colid"/>

        <button class="btn btn-dark" type="submit">Submit</button>
        </form>
<br><br>
  
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>

</body>
</html>
