<%- include("header") %> 

<div style="margin: 0px; padding: 40px;">
<h3>Add Infrastructure Augmenation</h1>
<br>
<br>
<form id="frm-add-category" name="frm-add-category" method="post" action="/addexpenditure">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Academic Year</label>
                <select class="form-control" name="year">
                    <option value="2015-16">2015-16</option>
                    <option value="2016-17">2016-17</option>
                    <option value="2017-18">2017-18</option>
                    <option value="2018-19">2018-19</option>
                    <option value="2019-20">2019-20</option>
                    <option value="2020-21">2020-21</option>
                    <option value="2021-22">2021-22</option>

                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Budget allocated for Infrastructure Augmentation(INR in Lakhs)</label>
                <input required type="number" class="form-control" placeholder="Enter budget" name="budget">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Expenditure for Infrastructure Augmentation(INR in Lakhs)</label>
                <input required type="number" class="form-control" placeholder="Enter expenditure for infrastructure augmentation" name="infraexp">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Total Expenditure excluding salary(INR in Lakhs)</label>
                <input required type="number" class="form-control" placeholder="Enter total expenditure excluding salary" name="totalexp">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Expenditure on  maintenance of academic facilities(INR in Lakhs)</label>
                <input required type="number" class="form-control" placeholder="Enter expenditure on  maintenance of academic facilities" name="academicexp">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Expenditure on  maintenance of physical facilities(INR in Lakhs)</label>
                <input required type="number" class="form-control" placeholder="Enter expenditure on  maintenance of physical facilities" name="physicalexp">
            </div>
        </div>


        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Status</label>
                <input required type="text" class="form-control" placeholder="Enter the Status" name="status1">
            </div>
        </div>


        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Comments</label>
                <input required type="text" class="form-control" placeholder="Enter the Comments" name="comments">
            </div>
        </div>
        
    </div>

    <button class="btn btn-dark" type="submit">Submit</button>
</form>
</div>
<%- include("footer") %> 