<%- include("header") %> 

<div style="margin: 0px; padding: 40px;">
<h3>Add Gov./Nonernment Funds</h1>
<br>
<br>
<form id="frm-add-category" name="frm-add-category" method="post" action="/addfunds">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Academic Year</label>
                <select class="form-control" name="year">
                    <option value="2015-16">2015-16</option>
                    <option value="2016-17">2016-17</option>
                    <option value="2017-18">2017-18</option>
                    <option value="2018-19">2018-19</option>
                    <option value="2019-20">2019-20</option>
                    <option value="2020-21">2020-21</option>
                    <option value="2021-22">2021-22</option>

                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Name of Funding Agency</label>
                <input required type="text" class="form-control" placeholder="Enter name of the funding agency" name="agency">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Type of Body</label>
                <select class="form-control" name="type">
                    <option value="Government">Government</option>
                    <option value="Non-Government">Non-Government</option>
                   

                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Purpose of Grant</label>
                <input required type="text" class="form-control" placeholder="Enter purpose of the grant" name="purpose">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Funds/Grants Received(INR in lakhs)</label>
                <input required type="number" class="form-control" placeholder="Enter the amount received" name="amount">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Link to Audited Statements</label>
                <input required type="text" class="form-control" placeholder="Enter link to the audited statements" name="link">
            </div>
        </div>

        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Status</label>
                <input required type="text" class="form-control" placeholder="Enter the Status" name="status1">
            </div>
        </div>


        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Comments</label>
                <input required type="text" class="form-control" placeholder="Enter the Comments" name="comments">
            </div>
        </div>
  
        
    </div>

    <button class="btn btn-dark" type="submit">Submit</button>
</form>
</div>
<%- include("footer") %> 