<%- include("header") %> 

<div style="margin: 0px; padding: 40px;">
<h3>Add Instruction</h1>
<br>
<br>
<form id="frm-add-category" name="frm-add-category" method="post" action="/addinstruction">
    <div class="row">
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Title</label>
                <input required type="text" class="form-control" placeholder="Enter title" name="title">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Content</label>
                <input required type="text" class="form-control" placeholder="Enter content" name="content">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Link</label>
                <input required type="text" class="form-control" placeholder="Enter link" name="link">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Type / Group</label>
                <input required type="text" class="form-control" placeholder="Enter type or group" name="type">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Select Status</label>
                <select class="form-control" name="status">
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select>
            </div>
        </div>
    </div>

    <button class="btn btn-dark" type="submit">Submit</button>
</form>
</div>
<%- include("footer") %> 