<%- include("header") %> 

<div style="margin: 0px; padding: 40px;">
<h3>Add MoU</h1>
<br>
<br>
<form id="frm-add-category" name="frm-add-category" method="post" action="/addmou">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Year of signing MoU</label>
                <select class="form-control" name="year">
                    <option value="2015-16">2015-16</option>
                    <option value="2016-17">2016-17</option>
                    <option value="2017-18">2017-18</option>
                    <option value="2018-19">2018-19</option>
                    <option value="2019-20">2019-20</option>
                    <option value="2020-21">2020-21</option>
                    <option value="2021-22">2021-22</option>

                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Name of the body with whom MoU is signed</label>
                <input required type="text" class="form-control" placeholder="Enter name of the body with whom MoU is signed" name="bodyname">
            </div>
        </div>
        
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Type of the body</label>
                <select class="form-control" name="bodytype">
                    <option value="Institution">Institution</option>
                    <option value="University">University</option>
                    <option value="Industry">Industry</option>
                    <option value="Corporate House">Corporate House</option>

                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Duration</label>
                <input required type="text" class="form-control" placeholder="Enter the duration" name="duration">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Name of activity under the MoU</label>
                <input required type="text" class="form-control" placeholder="Enter name of the activity under the MoU" name="activity">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Web-Link</label>
                <input required type="text" class="form-control" placeholder="Enter link of the activity" name="link">
            </div>
        </div>


        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Status</label>
                <input required type="text" class="form-control" placeholder="Enter the Status" name="status1">
            </div>
        </div>


        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Comments</label>
                <input required type="text" class="form-control" placeholder="Enter the Comments" name="comments">
            </div>
        </div>


        
    </div>

    <button class="btn btn-dark" type="submit">Submit</button>
</form>
</div>
<%- include("footer") %> 