<%- include("header") %> 

<div style="margin: 0px; padding: 40px;">
<h3>Add Syllabus Revision Programwise</h1>
<br>
<br>
<form id="frm-add-category" name="frm-add-category" method="post" action="/addsyllabusprog">
    <div class="row">
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Program Code</label>
                <input required type="text" class="form-control" placeholder="Enter program code" name="programcode">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Program Name </label>
                <input required type="text" class="form-control" placeholder="Enter program name" name="programname">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Department</label>
                <input required type="text" class="form-control" placeholder="Enter department " name="department">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Year of Introduction(eg.-2020-21) </label>
                <select class="form-control" name="yearofintro">
                    <option value="2015-16">2015-16</option>
                    <option value="2016-17">2016-17</option>
                    <option value="2017-18">2017-18</option>
                    <option value="2018-19">2018-19</option>
                    <option value="2019-20">2019-20</option>
                    <option value="2020-21">2020-21</option>
                    <option value="2021-22">2021-22</option>

                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>If Syllabus Revision carried out in last five years </label>
                <select class="form-control" name="status">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    

                </select>
            </div>
        </div>
        
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Year of Syllabus Revision(eg.-2020-21)</label>
                <input required type="text" class="form-control" placeholder="Enter year of syllabus revision" name="yearofrevision">
            </div>
        </div>
        
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Document link (Default link will be created if you write NA)</label>
                <input required type="text" class="form-control" placeholder="Enter link of document " name="link">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Status</label>
                <select class="form-control" name="status1">
                    <option value="Submitted">Submitted</option>
                    <option value="In Process">In Process</option>
                    <option value="Incomplete Documentation">Incomplete Documentation</option>
                    <option value="Reviewed">Reviewed</option>
                    

                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Comments</label>
                <input required type="text" class="form-control" placeholder="Enter your comments" name="comments">
            </div>
        </div>
  
        
    </div>

    <button class="btn btn-dark" type="submit">Submit</button>
</form>
</div>
<%- include("footer") %> 