<%- include("header") %> 

<div style="margin: 0px; padding: 40px;">
<h3>Add Student Scholarship</h1>
<br>
<br>
<form id="frm-add-category" name="frm-add-category" method="post" action="/addscholarship">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Academic Year</label>
                <select class="form-control" name="year">
                    <option value="2015-16">2015-16</option>
                    <option value="2016-17">2016-17</option>
                    <option value="2017-18">2017-18</option>
                    <option value="2018-19">2018-19</option>
                    <option value="2019-20">2019-20</option>
                    <option value="2020-21">2020-21</option>
                    <option value="2021-22">2021-22</option>

                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Name of the Scheme </label>
                <input required type="text" class="form-control" placeholder="Enter name of the scheme" name="scheme">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Number of students benefitted by government scheme</label>
                <input required type="text" class="form-control" placeholder="Enter no. of students benefitted by government scheme" name="noofgovstud">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Amount received from government as financial support</label>
                <input required type="number" class="form-control" placeholder="Enter the amount received from government " name="amountgov">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Number of students benefitted by institutional scheme</label>
                <input required type="text" class="form-control" placeholder="Enter no. of students benefitted by institutional scheme" name="noofinststud">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Amount received from institution as financial support</label>
                <input required type="number" class="form-control" placeholder="Enter the amount received from institution " name="amountinst">
            </div>
        </div> 

        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Status</label>
                <input required type="text" class="form-control" placeholder="Enter the Status" name="status1">
            </div>
        </div>


        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Comments</label>
                <input required type="text" class="form-control" placeholder="Enter the Comments" name="comments">
            </div>
        </div>


    </div>

    <button class="btn btn-dark" type="submit">Submit</button>
</form>
</div>
<%- include("footer") %> 