<%- include("header") %> 

<div style="margin: 0px; padding: 40px;">
<h3>Enter student and scholarship details</h1>
<br>
<br>
<form id="frm-add-category" name="frm-add-category" method="post" action="/applyscholarship">
    <div class="row">
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Scholarship category (template) - Case sensitive</label>
                <input required type="text" class="form-control" placeholder="Enter feecategory" name="feecategory">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Student</label>
                <input required type="text" class="form-control" placeholder="Enter student name" name="student">
            </div>
        </div>
       
       
       
        
        
        
        
    
        
     
      
       
    </div>

    <button class="btn btn-dark" type="submit">Submit</button>
</form>
</div>
<%- include("footer") %> 