<%- include("header") %> 

<div style="margin: 0px; padding: 40px;">
<h3>Enter reg no</h1>
<br>
<br>
<form id="frm-add-category" name="frm-add-category" method="post" action="/selectstudentbyregno">
    <div class="row">
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Reg no</label>
                <input required type="text" class="form-control" placeholder="Enter regno" name="regno">
            </div>
        </div>
       
       
       
        
        
        
        
    
        
     
      
       
    </div>

    <button class="btn btn-dark" type="submit">Submit</button>
</form>
</div>
<%- include("footer") %> 