<%- include("header") %> 

<div style="margin: 0px; padding: 40px;">
<h3>Add Book category</h1>
<br>
<br>
<form id="frm-add-category" name="frm-add-category" method="post" action="/uploadfile1" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Name</label>
                <input required type="text" class="form-control" placeholder="Enter name" name="name">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Description</label>
                <input required type="text" class="form-control" placeholder="Enter description" name="description">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Select Status</label>
                <select class="form-control" name="status">
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Select File to upload</label>
                <input type="file" name="upl" id="upl">
            </div>
        </div>
    </div>

    <button class="btn btn-dark" type="submit">Submit</button>
</form>
</div>
<%- include("footer") %> 